In [154]:
import csv
file = open('emp.csv')
csv_data = csv.reader(file)
Header=True
for row in csv_data:
    if Header:
        Header = False
        continue
    if row[2]=="" :
        print(row)

['102', 'Smith', '']

In [210]:
import pandas as pd
df=pd.read_csv("emp.csv")
df[df['sal']>3500]

      id   name     sal
0  101.0   Anna  5500.0
1    NaN  Jones  4500.0
3  103.0    NaN  6500.0

In [91]:
file = open('emp.csv')
csv_data = csv.reader(file)
Header=True
for row in csv_data:
    if Header:
        Header = False
        continue 
    elif   row[1].startswith("A"):
        print(row)

['101', 'Anna', '5500']
['104', 'Alice', '3500']

In [88]:
file = open('emp.csv')
csv_data = csv.reader(file)
Header=True
for row in csv_data:
    if Header:
        Header = False
        continue 
    if  row[0]=="" or row[1]=="" or row[2]=="":
        print(row)

['', 'Jones', '4500']
['102', 'Smith', '']
['103', '', '6500']

In [94]:
file = open('emp.csv')
csv_data = csv.reader(file)
Header=True
for row in csv_data:
    if Header:
        Header = False
        continue 
    if  row[0]!="" and row[1]!="" and row[2]!="":
        print(row)

['101', 'Anna', '5500']
['104', 'Alice', '3500']